:root {
    --branding-color: #ffa8a8;
    --secondary-color: #fcf7ef;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}

body {
    font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

h2 {
    font-size: 64px;
}

p {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.7;
}

.hero {
    background: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 2;
}

.content-container {
    padding: 160px 20px;
}

.content h1 {
    font-size: 64px;
    line-height: 80px;
}

.content h2 {
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: var(--default-font-family);
}

.conent p {
    font-size: 14px;
}

.content {
    margin: 30px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 18px 30px;
}

.feature {
    border: 1px solid var(--branding-color);
    padding: 14px 0;
    margin: 0 76px;
    border-radius: 30px;
}

.btn-branding-page {
    font-size: 18px;
    line-height: 27px;
    padding: 18px 30px;
    border-radius: 4px;
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
}

.open-weather {
    color: var(--branding-color);
}

.headshot {
    border-radius: 5px;
    max-width: 560px;
}

@media (max-width: 960px) {
    h1 {
        font-size: 60px;
        line-height: 56px;
    }
    h2 {
        font-size: 44px;
        text-align: center;
    }
    .hero {
        padding: 80px 20px;
    }
    .feature {
        margin: 0 60px;
    }
    .content-container {
        text-align: center;
        padding: 0;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }
    .btn-branding-page {
        display: block;
        margin: 0 auto;
        color: white;
        background: var(--branding-color);
    }
}